@(username: String, rooms: List[Room], userForm: Form[User])
@import snippets._
@import helper._
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/reservaButacas.css")">
<script type="text/javascript">

    function muestraButacas(filas, columnas){

    var html = "";
    for(var i = filas; i > 0; i--){
    for(var j = 1; j <= columnas; j++){

    html += " <button class=\"butaca\" type=\"button\" title=\"fila " + i + " columna " + j + "\" ><img src=\"@routes.Assets.at("stylesheets/images/butaca.png")\" /></button>";
    }
    html += "<br>"

    }
    return html;
    }


    function cambiaButacas(filas, columnas) {
        var div = document.getElementById("estructuraCine");
        div.innerHtml= document.writeln(muestraButacas(filas, columnas));
    }


</script>
<script type="text/javascript"  src="http://alvaroastur4server.no-ip.info/Entrecines_web/organizacionEfectosSAC.js"></script>

@main("Reserva butaca - Entrecine") {
<div id="wrapper">
    <div id="contCabecera">
        @header(username)
    </div>
</div>
<div id="cuerpo">
    <div class="main">
        @loginWindow(userForm)

        <div id="leyendaAyuda">
            <img src="@routes.Assets.at("stylesheets/images/butaca.png")"/> butaca sin reservar <img src="@routes.Assets.at("stylesheets/images/butacaReservada.png")"/> butaca ya
            reservada <img src="@routes.Assets.at("stylesheets/images/butacaSeleccionada.png")"/> butaca seleccionada
        </div>
        <div id="elegirSala">
            @for(room <- rooms) {
                <a href="#" class="botonesSalas" onclick="cambiaButacas(@room.getRows(), @room.getColumns());" >Sala @room.getId()</a>
            }
        </div>

        <div id="estructuraCine">
            <script type="text/javascript">
                document.writeln(muestraButacas(@rooms.get(0).getRows(), @rooms.get(0).getColumns()));
            </script>
        </div>
        <!-- Se pueden ir marcando las butacas reservadas cambiando el color por
        la imagen images/butacaSeleccionada.png -->
        <div id="botonReserva">
            <a href="#" class="botonReserva">Realizar Reserva</a>
        </div>
    </div>

</div>

</div>


    @footer()
}
