@(username: String, userForm: Form[User])
@import helper._
@import snippets._

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/finReserva.css")">

</head>
<body>
    <div id="wrapper">
        <div id="contCabecera">
    		@header(username)
    	</div>
    	<div id="cuerpo" >
        	<div class="main">
                <!-- INICIO MODAL LOGIN (tiene que estar aquí para que aparezca centrado en la página) -->
				@loginWindow(userForm)                	
                <!--FIN MODAL LOGIN -->
                <div id="contenedorAgradecimiento">
                	<h1>Gracias por Realizar su reserva con Entrecine4!</h1>
                	<h3>En breve le redigiremos a la página principal...</h3>
                </div>
            </div>
     	</div>

    </div>
	@footer()   

</body>
</html>
