@(username: String, movies: List[Movie], userForm: Form[User], recommended: List[Movie])
@import snippets._
@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")"><script type="text/javascript">

@main("Cartelera - Entrecine") {
	<div id="wrapper">
	@header(username)
   
    	<div id="cuerpo" >
	        <div class="main">
	            <!-- INICIO MODAL LOGIN (tiene que estar aquí para que aparezca centrado en la página) -->
	            @loginWindow(userForm)
	            <!--FIN MODAL LOGIN -->
	
	            <div id="recomendadas">
	            @if(recommended!=null){
	                <ul id="listaRecomendadas">Peliculas recomendadas
	                @for( movie <- recommended){
		                <li>
		                <a href="/pelicula/@movie.getId()"><strong>@movie.getName():</strong>
		                	<span style="font-size:12px;">@movie.getSynopsis()</span>
	                		<img id="mini" src="@routes.Assets.at("stylesheets/images/small/")@movie.getImgPath()" />
	                		</a>
	                	</li>}
	                </ul>}else{}
	            </div>
	
	            @for( movie <- movies){
	            <div class="view view-first">
	                <img src="@routes.Assets.at("stylesheets/images/small/")@movie.getImgPath()" />
	                <div class="mask">
	                    <h2>@movie.getName()</h2>
	                    <p>Género: @movie.getGenre()</p>
	                    <a href="/pelicula/@movie.getId()" class="info">Más info</a>
	                </div>
	            </div>
	        	}
	    	</div>
    	</div>
	</div>
	 @footer()
}
