@(movie: Movie, userForm: Form[User])
@import snippets._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pelicula.css")">

<script type="text/javascript">
    window.onload = function(){
    var a = document.getElementById("linkCartelera");
    a.onclick = function open_in_new_tab()
    {
    var win=window.open("index.html", '_blank');
    win.focus();
    }
    }
</script>
<script type="text/javascript"  src="http://alvaroastur4server.no-ip.info/Entrecines_web/organizacionEfectosSAC.js"></script>

@main("Cartelera - Entrecine4"){
<div id="wrapper">
    @header(null)
    <div id="cuerpo">
        <!-- INICIO MODAL LOGIN (tiene que estar aquí para que aparezca centrado en la página) -->
        @loginWindow(userForm)
        <!--FIN MODAL LOGIN -->
        <div id="tituloPelicula">
            <h1>@movie.getName()</h1>
        </div>
        <div id="imgPelicula" class="centralBloque">
            <img src="@movie.getImgPath()" height="300" width="240">
        </div>
        <div id="infoPelicula" class="centralBloque">
            <h3>Sinopsis</h3>
            <p>@movie.getSynopsis() </p>
        </div>
        <div id="reserva">
            <h3>Reserva de entradas</h3>
            <table id="tablaReserva" >
                <tr>
                    <td></td>
                    <td class="resaltarTabla">día 1</td>
                    <td class="resaltarTabla">día 2</td>
                    <td class="resaltarTabla">día 3</td>
                    <td class="resaltarTabla">día 4</td>
                    <td class="resaltarTabla">día 5</td>
                </tr>
                <tr>
                    <td class="resaltarTabla">sesión 10</td>
                    <td><button type="button">s10</button></td>
                    <td><button type="button">s10</button></td>
                    <td><button type="button">s10</button></td>
                    <td><button type="button">s10</button></td>
                    <td><button type="button">s10</button></td>
                </tr>
                <tr>
                    <td class="resaltarTabla">sesión 17</td>
                    <td><button type="button">s17</button></td>
                    <td><button type="button">s17</button></td>
                    <td><button type="button">s17</button></td>
                    <td><button type="button">s17</button></td>
                    <td><button type="button">s17</button></td>
                </tr>
                <tr>
                    <td class="resaltarTabla">sesión 20</td>
                    <td><button type="button">s20</button></td>
                    <td><button type="button">s20</button></td>
                    <td><button type="button">s20</button></td>
                    <td><button type="button">s20</button></td>
                    <td><button type="button">s20</button></td>
                </tr>
                <tr>
                    <td class="resaltarTabla">sesión 22</td>
                    <td><button type="button">s22</button></td>
                    <td><button type="button">s22</button></td>
                    <td><button type="button">s22</button></td>
                    <td><button type="button">s22</button></td>
                    <td><button type="button">s22</button></td>
                </tr>
            </table>
        </div>
    </div>




    @footer()
</div>
}