@(userForm: Form[User])
@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/plataformaPago.css")"><script type="text/javascript">
window.onload = function(){
var a = document.getElementById("linkCartelera");
a.onclick = function open_in_new_tab()
{
  var win=window.open("index.html", '_blank');
  win.focus();
}
}
</script>
<script type="text/javascript"  src="http://alvaroastur4server.no-ip.info/Entrecines_web/organizacionEfectosSAC.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="contCabecera">
    <div id="cabecera">
        <div id="bloqueCabeceraIzq">
        <h1> Entrecine </h1>
        <h2> Experimenta el realismo y la emoción </h2>
        </div>
        <div id="bloqueCabeceraDcha">
            <div id="login">
            <a href="#openModal">Iniciar Sesion</a>


            </div>
              <h3><a id="linkCartelera" href="#">Cartelera</a></h3>
        </div>
    </div> </div>
    <div id="cuerpo" >
        <div class="main">
                <!-- INICIO MODAL LOGIN (tiene que estar aquí para que aparezca centrado en la página) -->
               <div id="openModal" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h2>Inicio de Sesión</h2>
             @form(routes.Application.login()){
                      <div class="formularioAlineado">Usuario:<br />Contraseña:</div>
                        <div  class="formularioAlineado">
                            <input type="text" class="rounded" name="username" size="30" /><br />
                            <input type="password" class="rounded" name="password" size="30" /><br />
                        </div>
                        <div align="center">
                            <input id="iniciarSesion" type="submit" value="Iniciar Sesión" />
                        </div>  
                } 
                    
                    @form(routes.Application.registro()) {
                        <div align=center>
                            <button id="registrarse" type="submit">Registrarse</button>
                        </div>
                    }

                </div>
            </div>
                <!--FIN MODAL LOGIN -->
                <!-- Inicio Formulario  de Pago -->
                <div id="formularioPago" >
                    <h1>Formulario de Pago</h1>
                    <form name="input" action="#" method="get">
                    <div id="textos" class=".formularioAlineado" >
                        <p>Tipo de tarjeta:</p><br><p>Numero de la tarjeta:</p><br><p>Código de Seguridad:</p><br><p>Fecha de nacimiento (dd/mm/aaaa)</p>
                    </div>
                    <div id="inputs" class=".formularioAlineado" >
                        <!-- El primer elemento es un combobox con los tipos de tarjeta admitidos -->
                        <p><select id="tipoTarjeta">
                            <option value="Visa">Visa</option>
                            <option value="Mastercard">Mastercard</option>
                            <option value="American Express">American Express </option>
                        </select></p>
                        <!-- FIN del combobox -->
                        <br>
                        <p><input id="numeroTarjeta" type="text" class="rounded" size="30"/></p>
                        <br>
                        <p><input id="Código de Seguridad" type="text" class="rounded" size="10"/></p>
                        <br>
                        <p><input id"fechaNacimiento" type="date" class="rounded"/></p>
                        
                    </div>
                    <div id="confirmarPago">
                <a href="#" class="botonConfirmarPago">Confirmar Pago</a>
                </div>
                </form>

                </div>
                <!-- FIN formulario de Pago -->
                
            </div>



    </div>

</div>
    <footer>
        <h2>Entrecine</h2>
    </footer>

    

</body>
</html>